@import "../javascript/postcss.config.js";


* {
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gothic Medium','Franklin', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: rgb(48, 46, 46);
    border-radius: 10px;
    color: white;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    padding-left:23vw ;
}


header {
    width: 100%;
    height: 90px;
    background-color: rgba(12,66,45,255);
    display: flex;
    flex-direction: row;
}
header h1 {
    width: 100%;
    text-align: center;
}



#inleiding, #werk_stage, #opleidingen {
    margin: 30px;
    width: 50vw;
    padding: 2vw;
    background-color: rgb(39, 38, 38);
    border-radius: 10%;
    border: 10px;
}


#inleiding {
    padding-left: 5%;
}
#inleiding img {
    width: 35%;
    border-radius: 2%;
    float: right;
    margin-right: 10%;
}

#inleiding p, #inleiding h2 {
    width: 40%;
} 

#werk_stage {
    text-align: center;
}
#werk_stage img {
    width: 30%;
    border-radius: 2%;
    float: right;
    margin-right: 10%;
}
#stage img, #werkervaring img{
    width: 80%;
    margin: 0 10% 0 10%;
    
}
#werkervaring img{
    padding-bottom: 5%;
}



#opleidingen img {
    width: 60%;
}
#opleidingen figure {
    display: flex;
    flex-direction: row;
    padding: 30px;
}
#opleidingen figcaption {
    background-color: rgb(27, 26, 26);
    text-align: center;
    height: 100%;
    padding:5% 2% 5% 2%;
}
#foto_rechts {
    border-radius: 15% 0px 0px 15%;
}
.foto_links {
    border-radius: 0px 15% 15% 0px;
}



footer {
    width: 100%;
    background-color: rgba(12,66,45,255);
    text-align: center;
    padding:20px 0px 20px 0px;
    text-decoration: none;
}
a:link, a:visited {
    text-decoration: none;
    color: white;
  }
  